.sidebar {
  min-width: 35%;
  background-color: #1a1a2e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  .menu {
    list-style: none;
    padding: 0;
    margin-top: 150px;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      font-size: 25px;
      margin-bottom: 30px;
      cursor: pointer;
      transition: background 0.3s;

      i {
        margin-right: 10px;
      }

      &:hover,
      &.active {
        background: #662d91;
        border-radius: 8px;
      }
    }
  }

  .logout {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: red;
    cursor: pointer;

    i {
      margin-right: 10px;
    }

    &:hover {
      color: #ff4d4d;
    }
  }
}
