.money-transfer-input {
  border: 2px solid #f0f0f0;
  height: 65px;
  border-radius: 8px;
}
.money-transfer-input-label {
  font-weight: bolder;
}

.dropdown-container {
  position: relative;
  width: 250px;
}

.dropdown-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.selected-option {
  display: flex;
  align-items: center;
}

.bank-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.dropdown-list {
  position: absolute;
  width: 47%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin-top: 9px;
  margin-left: -15px;
}

.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f1f1f1;
}
.primary-outline-btn {
  padding: 14px 10px;
  border: 1px solid #924ffa !important;
  border: none;
  color: #924ffa;
  font-size: 16px;
  text-align: center;
  width: 100%;
  background-color: transparent;
}
.home-page-transaction-title {
  font-size: 20px;
  font-weight: "bold";
  display: block;
  text-align: right;
}
.view-all {
  color: #662d91;
  text-decoration: none;
  margin-top: 10px;
  width: 133px;
  text-align: left !important;
  display: flex;

  &:hover {
    text-decoration: underline;
  }
}
.transaction-texts {
  font-size: 22px;
  .transaction-texts-date-time {
    font-size: 18px;
  }
}
.amount-label {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}
.card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important  ;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
